Pillow==11.2.1
google-genai==1.14.0
google-auth==2.40.1
litserve==0.2.9
python-multipart
loguru==0.7.3
requests==2.32.3
dotenv==0.9.9
websockets==15.0
mcp
paddleocr==2.10.0
paddlepaddle==3.0.0rc1
openai==1.79.0
opencv-python
