accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
airportsdata==20250224
annotated-types==0.7.0
anyio==4.9.0
astor==0.8.1
asttokens==3.0.0
attrs==25.3.0
av==14.3.0
bitsandbytes==0.45.5
blake3==1.0.4
blobfile==3.0.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
comm==0.2.2
compressed-tensors==0.9.2
contourpy==1.3.1
cupy-cuda12x==13.4.1
cycler==0.12.1
datasets==3.5.0
debugpy==1.8.14
decorator==5.2.1
decord==0.6.0
depyf==0.18.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.8.1
email-validator==2.2.0
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.12
fastapi-cli==0.0.7
fastrlock==0.8.3
ffmpeg-python==0.2.0
filelock==3.18.0
flash-attn==2.7.4.post1
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.3.1
future==1.0.0
gguf==0.10.0
gitdb==4.0.12
gitpython==3.1.44
google-auth==2.39.0
google-genai==1.12.1
h11==0.16.0
hf-xet==1.0.2
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.30.2
idna==3.10
importlib-metadata==8.6.1
interegular==0.3.3
ipykernel==6.29.5
ipython==9.1.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.6
jedi==0.19.2
jinja2==3.1.6
jiter==0.9.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-widgets==3.0.14
kiwisolver==1.4.8
lark==1.2.2
litserve==0.2.8
llava==1.7.0.dev0
llguidance==0.7.13
llvmlite==0.44.0
lm-format-enforcer==0.10.11
loguru==0.7.3
lxml==5.4.0
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistral-common==1.5.4
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.2.0
multiprocess==0.70.16
muon==0.1.0
nanobind==2.6.1
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
num2words==0.5.14
numba==0.61.0
numpy==2.2.5
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
open-clip-torch==2.32.0
openai==1.72.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
outlines==0.1.11
outlines-core==0.1.26
packaging==25.0
pandas==2.2.3
parso==0.8.4
partial-json-parser==0.2.1.1.post5
peft==0.15.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
pip==25.0.1
platformdirs==4.3.7
prometheus-client==0.21.1
prometheus-fastapi-instrumentator==7.1.0
prompt-toolkit==3.0.50
propcache==0.3.1
protobuf==5.29.4
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycountry==24.6.1
pycryptodomex==3.22.0
pydantic==2.11.3
pydantic-core==2.33.1
pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2025.2
pyyaml==6.0.2
pyzmq==26.4.0
ray==2.43.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
rich-toolkit==0.14.1
rpds-py==0.24.0
rsa==4.9.1
safetensors==0.5.3
scipy==1.15.2
sentencepiece==0.2.0
sentry-sdk==2.25.1
setproctitle==1.3.5
setuptools==75.8.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
stack-data==0.6.3
starlette==0.46.1
sympy==1.13.1
tiktoken==0.9.0
timm==1.0.15
tokenizers==0.21.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.0.dev0
triton==3.2.0
trl==0.17.0
typer==0.15.2
typing-extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.2
urllib3==2.4.0
uv==0.6.13
uvicorn==0.34.0
uvloop==0.21.0
vllm==0.8.3
wandb==0.19.9
watchfiles==1.0.5
wcwidth==0.2.13
websockets==15.0.1
wheel==0.45.1
widgetsnbextension==4.0.14
xformers==0.0.29.post2
xgrammar==0.1.17
xxhash==3.5.0
yarl==1.19.0
zipp==3.21.0
